</div>

<div class="d-flex position-relative vas">
  <img src="https://i.ibb.co/wKzmKWk/7421031693-d258024d-4cd1-43ff-8d96-8c0787b99699.png" class="flex-shrink-0 me-3 des img-thumbnail" alt="...">
  <div>
    <h5 class="mt-0">Telemedicina</h5>
    <p>Nos encargamos de enviar una cita medica con todos los sintomas de un paciente a un Profesional medico que pueda atender los sintomas.</p>
  
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
