<%- include("./partes/cabecera.ejs") %>

  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-12">
        <h1>Especialistas en Cardiologia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px" src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-danger"> OCUPADO </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px"  src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-success"> DISPONIBLE </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px"  src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-danger"> OCUPADO </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px"  src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-success"> DISPONIBLE </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px"  src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-danger"> OCUPADO </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 p-3">
        <img width="200px" height="200px"  src="https://cdn-icons-png.flaticon.com/512/1085/1085413.png" alt="">

      </div>
      <div class="col-5 p-3">
        Doctor Rubén Sanchez <br>
        Cardiologo y Traumatologo <br>
        Horarios: <br>
        Lunes a Viernes: 8am - 3pm. <br>
        Sábados y Domingos: 8am - 12pm. <br>
        Estado: <span class="text-success"> DISPONIBLE </span> <br>
        <button type="button" class="btn btn-primary">Agendar Cita</button>
      </div>
      <div class="col-2"></div>
    </div>


<%- include("./partes/piePagina.ejs") %>
